# BEGIN WordPress

# END WordPress

# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:sexgems.co.uk
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^sexgems.co.uk$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:sexgems.co.uk
